connectivity/connectivity-demos/src_generated/ws/technicalBackend/com/axonivy/connectivity/client/schema1.xsd

<xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:ns1="ch.ivyteam.ivy.webservice.process" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:targetNamespace="http://connectivity.axonivy.com/" xmlns:tns="http://connectivity.axonivy.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://connectivity.axonivy.com/" version="1.0">
  <xsd:element name="longRunningBatchOperation" type="targetNamespace:longRunningBatchOperation"/>
  <xsd:element name="longRunningBatchOperationResponse" type="targetNamespace:longRunningBatchOperationResponse"/>
  <xsd:complexType name="longRunningBatchOperation">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="blockSeconds" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="longRunningBatchOperationResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
