connectivity/connectivity-demos/src_generated/ws/interceptedService/com/axonivy/connectivity/soap/interceptor/client/schema1.xsd

<xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:ns1="ch.ivyteam.ivy.webservice.process" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:targetNamespace="http://interceptor.soap.connectivity.axonivy.com/" xmlns:tns="http://interceptor.soap.connectivity.axonivy.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://interceptor.soap.connectivity.axonivy.com/">
  <xsd:element name="call" type="targetNamespace:call"/>
  <xsd:element name="callResponse" type="targetNamespace:callResponse"/>
  <xsd:complexType name="call">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="throwException" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="exceptionMessage" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="callResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="exceptionMessage" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
