connectivity/connectivity-demos-test/src_generated/ws/createOrderService/com/axonivy/connectivity/createorder/client/createOrderService.wsdl

<wsdl:definitions xmlns:ns1="ch.ivyteam.ivy.webservice.process" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://connectivity.axonivy.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="createOrderService" targetNamespace="http://connectivity.axonivy.com/">
  <wsdl:types>
<xs:schema xmlns:ns1="ch.ivyteam.ivy.webservice.process" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://connectivity.axonivy.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://connectivity.axonivy.com/" version="1.0">

  
  <xs:element name="call" type="tns:call"/>

  
  <xs:element name="callResponse" type="tns:callResponse"/>

  
  <xs:complexType name="call">
    
    <xs:sequence>
      
      <xs:element minOccurs="0" name="order" type="tns:order"/>
    
    </xs:sequence>
  
  </xs:complexType>

  
  <xs:complexType name="order">
    
    <xs:complexContent>
      
      <xs:extension base="tns:compositeObject">
        
        <xs:sequence>
          
          <xs:element minOccurs="0" name="amount" type="xs:int"/>
          
          <xs:element minOccurs="0" name="product" type="xs:string"/>
          
          <xs:element minOccurs="0" name="requester" type="xs:string"/>
          
          <xs:element minOccurs="0" name="unitPrice" type="xs:double"/>
        
        </xs:sequence>
      
      </xs:extension>
    
    </xs:complexContent>
  
  </xs:complexType>

  
  <xs:complexType abstract="true" name="compositeObject">
    
    <xs:complexContent>
      
      <xs:extension base="tns:nestedObject">
        
        <xs:sequence/>
      
      </xs:extension>
    
    </xs:complexContent>
  
  </xs:complexType>

  
  <xs:complexType abstract="true" name="nestedObject">
    
    <xs:sequence/>
  
  </xs:complexType>

  
  <xs:complexType name="callResponse">
    
    <xs:sequence>
      
      <xs:element minOccurs="0" name="task" type="tns:task"/>
    
    </xs:sequence>
  
  </xs:complexType>

  
  <xs:complexType name="task">
    
    <xs:complexContent>
      
      <xs:extension base="tns:compositeObject">
        
        <xs:sequence>
          
          <xs:element minOccurs="0" name="activator" type="xs:string"/>
          
          <xs:element minOccurs="0" name="id" type="xs:long"/>
          
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        
        </xs:sequence>
      
      </xs:extension>
    
    </xs:complexContent>
  
  </xs:complexType>


</xs:schema>
<xsd:schema xmlns:ns1="ch.ivyteam.ivy.webservice.process" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="ch.ivyteam.ivy.webservice.process" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="ch.ivyteam.ivy.webservice.process">
  
  <xsd:element name="TechnicalException" nillable="true" type="xsd:string"/>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="call">
    <wsdl:part element="tns:call" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WebServiceProcessTechnicalException">
    <wsdl:part element="ns1:TechnicalException" name="WebServiceProcessTechnicalException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="callResponse">
    <wsdl:part element="tns:callResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="createOrder">
    <wsdl:operation name="call">
      <wsdl:input message="tns:call" name="call">
    </wsdl:input>
      <wsdl:output message="tns:callResponse" name="callResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServiceProcessTechnicalException" name="WebServiceProcessTechnicalException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="createOrderServiceSoapBinding" type="tns:createOrder">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="call">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="call">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="callResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServiceProcessTechnicalException">
        <soap:fault name="WebServiceProcessTechnicalException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="createOrderService">
    <wsdl:port binding="tns:createOrderServiceSoapBinding" name="createOrderPort">
      <soap:address location="http://localhost:8081/ivy/ws/designer/ConnectivityDemos/162492A1649E72DF"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>